body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: #e6f1ff;
}

.wrapper {
  display: flex;
  margin: 40px auto 0;
  width: 80%;
}

.wrapper form {
  width: 50%;
}

.row {
  display: flex;
  width: 50%;
}

label {
  opacity: 0.6;
  font-size: 18px;
  padding-bottom: 7px;
  padding-top: 13px;
  font-weight: 500;
  display: block;
}

.mollie-component {
  background: #fff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 13px;
  border: 1px solid transparent;
  transition: 0.15s border-color cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}

.mollie-component.has-focus {
  border-color: #0077ff;
  transition: 0.3s border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.mollie-component.is-invalid {
  border-color: #ff1717;
  transition: 0.3s border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.field-error {
  font-size: 12px;
  margin-top: 2px;
  color: #ff1717;
  font-weight: 400;
}

select {
  width: 93%;
  border: 0;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
  0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 14px;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: 0;
  transition: 0.3s opacity cubic-bezier(0.4, 0, 0.2, 1);
}

button.submit-button {
  width: 50%;
  border: 0;
  background: #0077ff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 14px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: 0;
  transition: 0.3s opacity cubic-bezier(0.4, 0, 0.2, 1);
}

button.submit-button:hover {
  opacity: 1;
}

.form-fields {
  margin-bottom: 24px;
}

.form-group {
  width: 100%;
}

.form-group--expiry-date {
  margin-right: 8px;
}

.form-group--verification-code {
  margin-left: 8px;
}
