<div class="wrapper">
    <form method="post">
        <div class="form-fields">
            <div class="row">
                <div class="form-group">
                    <input type="hidden" name="paymentMethod" value="belfius">
                </div>
                <button class="submit-button" type="submit">Belfius paaaay</button>
            </div>
        </div>
    </form>
</div>
