<div class="wrapper">
    <form method="post" class="form" id="mcForm">
        <div class="form-fields">
            <div class="row">
                <div class="form-group form-group--card-holder">
                    <label class="label" for="card-holder">Name</label>
                    <div id="card-holder"></div>
                    <div
                            id="card-holder-error"
                            class="field-error"
                            role="alert"
                    ></div>
                </div>
            </div>

            <div class="row">
                <div class="form-group form-group--card-number">
                    <label class="label" for="card-number">Card number</label>
                    <div id="card-number"></div>
                    <div
                            id="card-number-error"
                            class="field-error"
                            role="alert"
                    ></div>
                    <pre>3782 822463 10005</pre>
                </div>
            </div>

            <div class="row">
                <div class="form-group form-group--expiry-date">
                    <label class="label" for="expiry-date">Expiry date</label>
                    <div id="expiry-date"></div>
                    <div
                            id="expiry-date-error"
                            class="field-error"
                            role="alert"
                    ></div>
                </div>

                <div class="form-group form-group--verification-code">
                    <label class="label" for="verification-code">CVC</label>
                    <div id="verification-code"></div>
                    <div
                            id="verification-code-error"
                            class="field-error"
                            role="alert"
                    ></div>
                </div>
            </div>
        </div>

        <input type="hidden" name="paymentMethod" value="creditcard">

        <button id="submit-button" class="submit-button" type="submit">
            Pay €239.00
        </button>

        <div id="form-error" class="field-error" role="alert"></div>
    </form>
</div>
<script src="../static/script.js"></script>
