<div class="wrapper">
    <form method="post">
        <div class="form-fields">
            <div class="row">
                <label for="issuer">Select your bank:</label>
            </div>
            <div class="row">
                <div class="form-group">
                    <select name="issuer" id="issuer">
                        {% for issuer in issuers %}
                        <option value="{{ issuer.id }}">{{ issuer.name }}</option>
                        {% endfor %}
                        <option value="">Select later</option>
                    </select>
                    <input type="hidden" name="paymentMethod" value="ideal">
                </div>
                <button class="submit-button" type="submit">OK</button>
            </div>
        </div>
    </form>
</div>