<!DOCTYPE html>
<html>
  <head>
    <title>Basic Example - Mollie Components</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="https://js.mollie.com/v1/mollie.js"></script>
  </head>

  <body>
  <div class="wrapper"><h1>Card new:</h1></div>
  {% include 'creditcard-new.html' %}
{#  <div class="wrapper"><h1>Creditcard:</h1></div>#}
{#  {% include 'creditcard.html' %}#}
  <div class="wrapper"><h1>Ideal:</h1></div>
  {% with issuers = payment_methods.ideal %}
      {% include 'ideal.html' %}
  {% endwith %}
  <div class="wrapper"><h1>Paypal:</h1></div>
  {% include 'paypal.html' %}
  <div class="wrapper"><h1>Belfius:</h1></div>
  {% include 'belfius.html' %}
  <div class="wrapper"><h1>Kbc-cbc:</h1></div>
  {% include 'kbc-cbc.html' %}
  </body>
</html>
